.h1{
	color:purple ;
	font:bold;
}
.big_font{
	color: blue;
	font-size: 50px;
}
#h2{
	font-style: inherit;
	color: green;
	font-size: 40px;
}
#font_style{
	font: bold;
}
#head{
	border:10px solid green;
}
.headt{
	border:10px solid yellow;
}
.black{
	color: black;
}
.green{
	color: green;
}
.h1{
	display: inline-block;
}
.box1{
	background: green;
	width: 150px;
	height: 100px;

}
.box2{
	background: #4CAF50;
	width: 150px;
	height: 100px;
	margin: 5px 150px 5px;
	padding: 50px;

}
.box3{
	background: #8BC34A;
	width: 150px;
	height: 100px;
	

}
.h3{
	border: solid green 10px;
	height: 50px;
	font-size: 40px;
	margin: 100px;
	left: 100px;
}



